<h1>Search for a Movie here!!!</h1>

<!--
We want to submit the form to /results route. Results route will then take care of handing the api call and then rendering the results template.
-->

<form action="/results" method="GET">
    <input type="text" name="searchValue" placeholder="search movie here">
    <input type="submit">
</form>